.bs1{
    box-shadow: rgba(14, 30, 37, 0.32) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

body{
background-color: azure;
}

h1{
    font-size: 30px;
    font-weight:bold ;
    color: orangered;
}

.header{
    padding: 10px;
    
}

.content{
    min-height: 90vh;
}
li{
    margin-right: 2rem;
    display: inline;
}